.DS_Store
node_modules/
/dist/
build/win-unpacked/
build/win-ia32-unpacked/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.gitignore
.npmrc
/out/

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln

